.g-wrapper{
    background: #000d1a;
}
.inner-container{
    z-index: 1;
    width: 100%;
    gap: 1.5rem;
    border: none;
    color: #fff;
    outline: none;
    padding: 2rem;
    cursor: pointer;
    text-align: center;
    /* background: #111; */
    border-radius: 10px;
    position: relative;
    /*background: #5a73d7; */
}

.inner-container:before{
    top: -2px;
    left: -2px;
    
    z-index: -1;
    content: "";
    filter: blur(1px);
    position: absolute;
    border-radius: 10px;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: opacity .3s ease-in-out;
    animation: glowing 20s linear infinite;
    background-image: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff,
    #7a00ff, #ff00c8, #ff0000);
}
.inner-container:hover:before{opacity: 1;}
 .inner-container:after{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    content: '';
    height: 100%;
    background: #001;
    position: absolute;
    border-radius: 10px;
} 
/*.inner-container:active{color: #000;}
.inner-container:active:after{background: transparent;}*/

@keyframes glowing {
    0%{background-position: 0 0;}
    
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}
/* .inner-container{
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    background: #5a73d7;
    border: 6px solid #5d77d6;
} */
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    font-size:20px;
    color: #999;
}
.inner-container .btn{
    border-radius: 10px;
    background: #4161df;
    box-shadow: var(--shadow);
    border: 2px solid white;
}