.get-started{
    padding: 2rem 10%;
    background-color: #dddddd;
}
.get-card{
    gap: 20px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    background-color: #04417d;
}
.get-card h1{
   margin-top: 2rem;
   color: orange;
}
.get-card h2{
    color: rgb(6, 6, 92);
}
.get-card li{
    list-style: none;
    color: rgba(140, 139, 139);
}
.get-card button{
    margin-bottom: 2rem;
}
.get-card button:hover{
    transform: scale(1.1);
    background-color: rgb(11, 250, 11);
}
@media (max-width:768px) {
    .get-started{
        padding: 1rem;
    }
    .get-card{
        gap: 10px;
        width: 100%;
    }
    .get-card h1{
        font-size: 1.7rem;
    }
    .get-card li{
        padding: 10px;
        color: white;
        align-self: start;
    }
}