.b-wrapper{
    margin-bottom: 4rem;
    background-color: #020e1a;
}

.b-title{
     margin: 2rem 0;
    
}
.b-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b-card img{
    width: 200px;
    height: 150px;
}
@media (max-width:640px) {
    .b-wrapper{
    width: 100%;
    }
    .b-title{
        height: 4px;
        font-size: 5rem;
        padding-top: 1rem;
    }
    .b-card{
        display: grid;
        padding: 0 15px;
        grid-template-columns: repeat(2, 1fr);
    }
    .b-card img{
        padding: 10px;
        width: 100%;
    }
}