.t-wrapper{
    color: white;
    padding: 5rem 0;
    background: #f401; 

}
.t-title{
    color: #00ffb9;
    font-weight: 400;
    font-size: 2.2rem;
    text-align: center;
}
.t-container{
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
}
.t-box .checked{
    color: #ff9529;
}
.t-box .t-text{
    color: #444;
    margin: 1rem 0;
    border-radius: 15px;
    border: 1px dotted blue;
}
.t-box{
    padding: 1rem;
    text-align: center;
}
.t-photo img{
    width: 150px;
    margin: auto;
    height: 150px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.t-name{
    color: crimson;
}
@media (max-width:760px) {
    .t-container{
        flex-direction: column;
    }
}