* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  background-color: #000d1a;
}
.white-gradient {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  position: absolute;
  filter: blur(100px);
  background: rgba(255, 255, 255, 0.522);
}
.apa {
  text-align: center;
}
header.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 2rem;
  position: fixed;
  background-color: red;
  transition: background-color 0.3s;
}
header.header h1 {
  margin: 0;
  font-size: 1.5rem;
  transition: font-size 0.3s;
}
main {
  padding-top: 60px;
}
.apasec {
  padding: 100px 20px;
  border-bottom: 1px solid #ccc;
}
.apasec h1 {
  margin-bottom: 20px;
}
.apasec p {
  margin: 0;
}
