.value-card{
    padding: 2rem 10%;
    background-color: #dddddd;
}
.value-content{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.left-value{
    flex: 1 1 15rem;
}
.left-img{
    opacity: 0;
    margin-top: 6rem;
    transform: translateX(-100%);
    animation: slideFromLeft 3s forwards;
}

@keyframes slideFromLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.right-value{
    flex: 1 1 15rem;
    margin-top: 6rem;
    flex-direction: column;
}
.value-desc{
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}
.value-desc h1{
    color: #000d1a;
    margin: 1rem 0;
}
.value-desc h2{
    color: orangered;
}
.value-dropdown{
    gap: 10px;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
}
 .drop{
    border-radius: 5px;
} 
.drop span{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.reveal{
    padding: 10px;
    margin-bottom: 0.7rem;
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.1);
}


@media (max-width:768px) {
    .value-card{padding: 1rem;}
    .value-content{
        padding-top: 1rem;
    }
    .left-img{
        width: 100%;
        margin-top: 1rem;
    }
    .right-value{
        flex: 2;
        margin-top: 0;
    }
    .value-dropdown{
        margin-top: 0;
    }
}