 .c-wrapper{
    background: #000001;
} 
.c-container{
    justify-content: space-between;
}
.c-container > div{
    flex: 1;
}
.c-left{
    gap: 0.5rem;
}
.contactMode{
    gap: 1rem;
    margin-top: 2rem;
}
.contactMode .row{
    gap: 1.5rem;
}
.icon{
    color: green;
}
.mode{
    gap: 1rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    background: #000d1a;
    transition: all 300ms ease-in;
    border: 0.8px solid rgba(128, 128, 128, 0.146);
}
.mode:hover{
    scale: 1.1;
    box-shadow: var(--shadow);
}
.mode .btn{
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--blue);
    justify-content: center;
    background: var(--lightBlue);
}
.mode .btn:hover{
    scale: 0.8;
    color: white;
    background: var(--blue-gradient);
}
.mode>:nth-child(1){
    gap: 1.6rem;
    width: 100%;
}
.mode .detail .primaryText{
    font-weight: 600;
    font-size: 1.1rem;
}
.c-right{width: 100%;}
@media (max-width:1024px) {
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contactMode{width: 100%;}
    .row{
        width: 100%;
        flex-direction: column;
    }
    .mode{width: 100%;}
}